@charset "UTF-8";
 
@font-face {
  font-family: "Noto_Serif_SC";
  src: url("../fonts/Noto_Serif_SC/NotoSerifSC-Black.otf") format("otf"),
       url("../fonts/Noto_Serif_SC/NotoSerifSC-Bold.otf") format("otf"),
       url("../fonts/Noto_Serif_SC/NotoSerifSC-ExtraLight.otf") format("otf"),
       url("../fonts/Noto_Serif_SC/NotoSerifSC-Light.otf") format("otf"),
	   url("../fonts/Noto_Serif_SC/NotoSerifSC-Medium.otf") format("otf"),
	   url("../fonts/Noto_Serif_SC/NotoSerifSC-Regular.otf") format("otf"),
       url("../fonts/Noto_Serif_SC/NotoSerifSC-SemiBold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}